.house{
	width: 500px;
	height: 500px;
	background-color: #660000;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.bell{
	width: 10px;
	height: 15px;
	border: 2px solid;
	border-color: black;
	position: absolute;
	left: 35%;
	bottom: 110px;
	background-color: white;
	cursor: pointer;
}

.bell:hover{
	background-color: green;
}

.door{
	width: 100px;
	height: 200px;	
	background-color: blue;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.door .knob{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 20%;
}

.window{
	width: 150px;
	height: 150px;
	background-color: white;
	position: absolute;
	top: 70px;
}

.window.left{
	left: 50px;
	overflow: hidden;
}

.window.left img{
	height: 100%;
	position: absolute;
	left: -30px;
}

.window.right{
	right: 50px;
}

.container1,
.container2 {
  height: 400px;
  width: 400px;
  border: black 1px solid;
  position: relative;
  margin: 10px;
  float: left;
}

.kitchen{
  position: absolute;
  width: 300px;
  height: 100px;
  border: black 1px solid;
}

.living-room {
  position: absolute;
  height: 300px;
    width: 300px;
  border: black 1px solid;
  margin-top: 100px;
}

.bedroom {
  height: 200px;
  width: 200px;
  border: black 1px solid;
  position: absolute;
}

.bedroom.one {
  margin-top: 200px;
}

.stairs {
  position: absolute;
  width: 50px;
  height: 150px;
  border: black 1px solid;
  margin-left: 350px;
}

.alert{
	background: orange;
	position: fixed;
	top: 30%;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 300px;
	display: none;
}

.alert.open{
	display: block;
}

.alert h2{
	text-align: center;
  color: #fff;
}

.alert .close{
	background: red;
	color: white;
	cursor: pointer;
	height: 15px;
	width: 15px;
	text-align: center;
	padding-bottom: 5px;
}

/* Bathroom */
.bathroom{
    width:500px;
    height:500px;
    background: grey
}
.tub{
    width:100px;
    height:200px;
    border-radius:10px;
    border:20px solid #fff;
    margin:20px auto;
    position: relative;
    background: radial-gradient( ellipse, gray, #fff);
    background: -webkit-radial-gradient( ellipse, gray, #fff);
    background: -moz-radial-gradient( ellipse, gray, #fff);
}
.faucet{
    height:30px;
    width:10px;
    background-color:#fff;
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin: auto;
    z-index:10;
}
.tub .water{
    background:lightblue;
    position: absolute;
    height:30px;
    bottom:0;
    width:100%;
}

.tub:hover .water{
    height:100%;
    transition:height 1s ease;
    -webkit-transition:height 1s ease;
    -moz-transition:height 1s ease;
}

.toilet{
    height:75px;
    width:100px;
    position: relative;
}

.toilet .tank{
    width:30%;
    height:100%;
    background: #fff;
    border-radius:3px;
    display: inline-block;
    float:left;
}
.toilet .hole{
    width:50%;
    height:75%;
    border-radius:40%;
    display: inline-block;
    float:left;
    border:10px solid #fff;
    z-index:10;
}
.toilet .water{
    background: url('../img/water.png') no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    border-radius:30%;
}
.toilet:hover .water{

    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    width:0;
    height:0;
    transition: all 1s;
}
/*
.toilet .water .pee{
    background:#ffffa0;
    width:100%;
    height:100%;
    left:0;
    right:0;
    margin:auto;
    border-radius:30%;
    transform: scale(0);
    position: absolute;
}
.toilet .water .pee{
    transform: scale(1);
    transition:all 1s ease;
}
*/